@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Cool Kids computer was originally started because of our passion for Computers, The original founder Wanted to make owning a PC more accessible for parents and students trying to learn about Programming..</p>
</div>
